.my-txt-xxs{
    font-size:12px;
    font-weight: 400;
}
.my-txt-xs{
    font-size:14px;
    font-weight: 400;
}
.my-txt-sm{
    font-size:16px;
    font-weight: 600;
}
.my-txt-md{
    font-size:18px;
    font-weight: 600;
}
.my-txt-lg{
    font-size:22px;
    font-weight: 600;
}
.py{
    padding-top: 4em;
    padding-top: 4em;
}